@media only screen and (max-width: 600px) {

    .container-bio-flex {
      display: block;
    }

    .bio p {
      height: auto;
    }

    .features iframe {
      width: 280px;
      height: 157px;
    }

    .maker-sprint {
      width: 280px;
      height: 157px;
    }


}

@media screen and (max-width: 480px) {

  .features section {
    padding: 0px;
  }

}