.major {
    text-align: center;
}

.container-bio-flex {
    display: flex;
    max-width: 100%;
    width: 75em;
    margin: 0 auto;
    padding: 0em 4em 0em 4em;
}

.container-bio h1 {
        text-align: center;
        margin-bottom: 2em;
    }

.bio {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    flex: 1;
}

.bio:first-child {
    margin-left: 0px;
}

.bio:last-child {
    margin-right: 0px;
}

.bio h2 {
    margin-top: 10%;
    margin-bottom: 0%;
}

.bio h3 {
    margin-top: 0%;
    flex: auto;
}

.bio a {
    margin-top: 10%;
    margin-bottom: 20%;
    color: #0C1B33;
    border-bottom: dotted 1px #0C1B33;
}

.bio a:hover {
    opacity: 0.4;
}

.bio-foto {
    border-radius: 50%;
    width: 30%;
}

.image-sprint {
    display: flex;
    justify-content: center;
}

.image-sprint img {
    width: 100%;
}

.sdg {
    display: flex;
}

.sdg img {
    width: 20%;;
}

.inner a {
    text-decoration: underline;

}

.inner 	a:hover {
    border-bottom-color: transparent;
    color: #000000;
}