.container-bio-flex {
    display: flex
}


.container-bio h1 {
        text-align: center;
    }

.bio {
    display: flex;
    flex-direction: column;
    margin: 15px 20px
}

.bio h2 {
    margin-top: 10%;
    margin-bottom: 0%;
}

.bio p {
    margin-top: 10%;
}

.bio a {
    margin-top: 10%;
}

.bio-foto {
    border-radius: 50%;
    width: 30%;
}